/node_modules
/.env
/.env.local
/.env.development.local
/.env.test.local
/.env.production.local
/.env.development
.DS_Store
/.idea
/.vscode
/.vs
/.sass-cache
/.cache
/.npm
/.yarn
/.yarn-cache
/config.js
/credentials.txt
/credentials.json
/credentials.js
/credentials.json.enc
/credentials.js.enc
/expressjs/node_modules
/expressjs/.env
/expressjs/.env.local
/expressjs/.env.development.local
/expressjs/.DS_Store
/expressjs/.idea
/expressjs/.vscode
/expressjs/.vs
/expressjs/.sass-cache
/expressjs/.cache
/expressjs/.npm
/expressjs/.yarn
/expressjs/.yarn-cache
/nextjs/node_modules
/nextjs/.env
/nextjs/.env.local
/nextjs/.env.development.local
/nextjs/.DS_Store
/nextjs/.idea
/nextjs/.vscode
/nextjs/.vs
/nextjs/.sass-cache
/nextjs/.cache
/nextjs/.npm
/nextjs/.yarn
/nextjs/.yarn-cache
/nextjs/.next/trace
/nextjs/.next/cache
/nextjs/.next/server
/nextjs/.next/static
/nextjs/.next/dist
nextjs/.next/trace
nextjs/.next/
nextjs/.next/cache
nextjs/.next/server
nextjs/.next/static
nextjs/.next/dist
nextjs/.next/development-server
nextjs/.next/development-server/pages
nextjs/.next/
nextjs/.next/trace/
nextjs/.next/cache/
nextjs/.next/cache/webpack/client-development/6.pack

docker-compose.local.yml
docker-compose.old.yml

nginx.payper.app.local.conf
/certs/*
/certs
